body	
{	
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../storage/images/3545189.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.main ul
{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
}

.main ul li
{
	display: inline-block;
}


.main ul li a
{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: none;
	transition: 0.6s ease;
	
}
.main ul li a:hover
{
	background: #fff;
	color: #1c8adb;
}

.main input[type = 'submit']
{
	text-decoration: none;
	background: transparent;
	color: #fff;
	border: None;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 5px 20px;
	transition: 0.6s ease;
	font-family: sans-serif;
	font-size: 17px;
}
.main input[type = 'submit']:hover
{
	cursor: pointer;
	background: #b30000;
	color: white;
	
}

#adminworkerheading
{
	float: left;
	font-family: century gothic;
	font-size: 35px;
	color: #fff;
	margin: 20px 25px;
}

.awtable
{
	
	float: left;
	margin-left: 5px;
	padding: 0px 300px 0px;
	margin-bottom: 0px;
	font-family: century gothic;

}

.awtable td
{
	padding: 10 20 30 20px;
	margin-left: 0px;
	margin-right: 100px;
	font-family: century gothic;
	width: 120px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 30%;
	left: -50%;
	position: center;
	
}

.awtable th
{
	padding: 10 20 30 20px;
	margin-left: 0px;
	margin-right: 100px;
	font-family: century gothic;
	width: 120px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 30%;
	left: -50%;
	position: center;
	
}
