body	
{	
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(4287.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.main ul
{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
}

.main ul li
{
	display: inline-block;
}


.main ul li a
{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: none;
	transition: 0.6s ease;
	
}
.main ul li a:hover
{
	background: #fff;
	color: #1c8adb;
}

.main input[type = 'submit']
{
	text-decoration: none;
	background: transparent;
	color: #fff;
	border: None;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 5px 20px;
	transition: 0.6s ease;
	font-family: sans-serif;
	font-size: 17px;
}
.main input[type = 'submit']:hover
{
	cursor: pointer;
	background: #b30000;
	color: white;
	
}

#shophistoryheading
{
	float: left;
	font-family: century gothic;
	font-size: 45px;
	color: #fff;
	margin: 20px 25px;
}

.shophistorywritten
{
	float: center;
	margin: 10 10 10 10px;
	padding: 30px 20px 30px 20px;
	font-family: century gothic;
	width: 1280px;
	height: 420px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 20%;
	left: 6.5%;
	position: absolute;
}

.shophistorywritten td
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	color: #fff;
}

.shophistorywritten td li
{
	list-style-type: none;
}

